@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.IsInRole(Roles.Administrator))
    {
        <h1 class="display-4">Continue la navegación por las opciones del panel superior.</h1>
    }
    else
    {
        <h1 class="display-4">Por favor registrese o ingrese a su cuenta. Para ver el contenido.</h1>
    }
</div>
